.HomePage {
  height: auto;
  background-color: rgba(0, 0, 0, 0.938);

  .signout {
    display: flex;
    justify-content: flex-end;
    padding-right: 25px;
    padding-top: 10px;
  }

  .grid-container {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 2fr 1.5fr;
    gap: 1px 1px;
    grid-template-areas:
      "Pie Chart"
      "Table Table";
  }

  .Table {
    grid-area: Table;
  }

  .Chart {
    grid-area: Chart;
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .Pie {
    grid-area: Pie;
    display: flex;
    justify-content: center;
    align-self: center;
  }
}
